:root {
	--primary-color: #954ced;
	--white-color: #fff;
	--black-color: #000;
	--main-font: Inter,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

html {
	scroll-behavior: smooth;
}

body {
	padding-top: 0px;
	background: none;
}


p, h1, h2 {
	font-weight: 650 !important;
}

/*start navbar*/

nav {
	top: 0 !important;
	z-index: 1 !important;
	/* height: 4rem !important; */
}

.navbar {
	background: none !important;
	margin: 0;
	border-radius: 0%;
}

.navbar-default{
	border: none;
}

/* .navbar-default ul {
	margin-top: 0.8% !important;
} */

.navbar-default .navbar-nav > li {
	margin-right: 10px;
}

.navbar-default .navbar-nav > li > a {
	font-size: 18px;
	font-family: var(--main-font);
	color: var(--black-color);
	font-weight: 600 !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
	background: none;
	color: var(--primary-color);
	transition: 0.5s
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	font-family: var(--main-font);
	font-size: 30px;
	font-weight: 600;
}

.navbar > .container .navbar-brand span:first-child{
	color: var(--primary-color);
}

.navbar > .container .navbar-brand span:last-child{
	color: var(--primary-color);
	font-family: var(--main-font);
}

.navbar-default .navbar-toggle {
	border: none !important;
	background: none !important;
	transition: 0.5s
}

.navbar-default .navbar-toggle:hover {
	background-color: var(--primary-color) !important;
	border: 2px solid var(--primary-color);
}

.navbar-default .navbar-toggle:hover .icon-bar{
	background-color: var(--white-color);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: var(--primary-color);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus
{
	background: none;
	color: var(--primary-color);
}

/*end navbar*/

p {
	color: var(--black-color);
	font-size: 1.5rem;
	letter-spacing: 1px;
	font-family: var(--main-font);
}

h2 {
	color: var(--primary-color);
	font-family: var(--main-font);
	position: relative;
	bottom: 10px;
}


/*start header*/

.header {
	padding: 10%;
	padding-top: 13%;
	overflow: hidden;
}

.header h1 {
	color: var(--black-color);
	margin-top: 8% !important;
	font-family: var(--main-font);
	margin-bottom: -9px;
}


.header h2 {
	color: var(--white-color);
	font-family: var(--main-font);
}

.header i {
	font-size: 18px;
	color: var(--white-color);
}

.header a {
	margin-top: 10px;
}

.header .introimg {
	/* margin-top: 50% !important; */
	overflow: hidden;
}

.header .blob_img {
	width: 200px;
    transition: 200ms ease;
	bottom: 20px;
}

/*end header*/

/*start anout*/

.about {
	padding-top: 75px;
	padding-bottom: 50px;
	background: var(--white-color);

}

.about-img {
	overflow: hidden;
}

.about img {
	width: 60%;
	position: relative;
	left: -25%;
	border-radius: 5%;
	cursor: pointer;
	transition: 1s;
}

/*end about*/

/*start skills*/

.skills {
	padding-top: 100px;
	padding-bottom: 80px;
/*	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;*/
	background: var(--white-color);
}

.skills h1 {
	color: var(--primary-color);
	font-family: var(--main-font);
}

.skills p {
	margin-top: 10px;
	color: var(--black-color);
}

.skills p i {
	padding-left: 7px;
	padding-right: 7px;
	color: var(--black-color)d1e;
	font-family: var(--main-font);
}

.skills p#aboutskills {
	margin-bottom: 15px;
	color: var(--black-color);
}

.skills-container {
  width:100%;
  background-color: var(--white-color);
  border-radius: .50rem;
  overflow: hidden;
}

.skills-stat {
	padding: 10px;
	text-align: right;
	color: var(--white-color);
	font-weight: bold;
	font-family: var(--main-font);
	background-color: var(--primary-color);
	transition: 2s;
}

/*end skills*/

/* start projects */

.projects {
	padding-top: 70px;
	padding-bottom: 100px;
	overflow: hidden;
	background-color: var(--white-color);
}

.projects .project {
	padding: 0px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 15px;
	background: var(--white-color);
	left: 500px;
	padding: 10px;
	overflow: hidden;
	box-shadow: 0 10px 15px 3px rgba(0,0,0,.1),2px 4px 6px 2px rgba(0,0,0,.05) !important;
}

.projects .project:hover{
	transition: 0.5s;
	box-shadow: 1px 1px 4px 1px var(--black-color);
}

.projects .project h3 {
	margin-bottom: 0;
	color: var(--primary-color);
}

.projects .project p {
	color: var(--black-color);
	font-size: 16px;
}

.projects .project p span{
	color: var(--black-color);
}

.projects .project .projimg {
	padding: 0px;
	overflow: hidden;
}

.projects img {
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	/* border-radius: 10px; */
}

.visit, .readmore {
	background-color: var(--primary-color);
	font-size: 18px;
	color: var(--white-color);
	transition: 0.5s;
	border: 2px solid var(--primary-color);
}

.visit:hover, .readmore:hover, .visit:focus, .readmore:focus {
	color: var(--white-color);
	border: 2px solid var(--black-color);
	font-size: 18px;
	transition: 0.5s;
}

.projects .project button a {
	text-decoration: none;
	color: var(--white-color);
}

.projects .project button a:hover {
	color: var(--black-color)
}

/*end projects*/


/*start services*/

.services {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--white-color);
}

.services .service {
	margin: 10px;
	height: 220px;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),2px 4px 6px 2px rgba(0,0,0,.05) !important;
	border-radius: 25px !important;
	padding: 10px;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
	line-height: 1,65px;
}

.services .service h3 {
	font-family: var(--main-font);
}

.services .service i {
	font-size: 30px;
	transition: 0.5s;
	color: var(--primary-color);
}

.services .service:hover i{
	transform: scale(1.1) rotate(360deg);
}

.services .service:hover {
	transition: 0.5s;
	box-shadow: 0px 0px 4px 0px var(--black-color);
}

/*end services*/

/* start gallery */

.gallery {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: var(--white-color);
	overflow: hidden;
}

.gallery .galimg {
	overflow: hidden !important;
	border-radius: 5%;
	cursor: pointer;
	transition: 1s;
	margin-bottom: 2%;
}


/* end gallery */

/*start blog*/

.blog {
	background: linear-gradient(90deg, var(--black-color)d1e 0%, var(--primary-color) 90%);
	padding-top: 70px;
	padding-bottom: 50px;
	overflow: hidden;
}

.blog h2 {
	font-family: var(--main-font);
	color: var(--white-color);
}

.blog h3 {
	font-family: var(--main-font);
	color: var(--primary-color);
}

.blog .articles .article {
	box-shadow: 0px 0px 4px 0px var(--black-color);
	background: var(--white-color);
	border-radius: 10px;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

.blog .articles .article .blogpic {
	overflow: hidden;
	margin: 0;
	transition: 1s;
	cursor: pointer;
}

.blog .articles .article:hover .blogpic{
	transform: scale(1.2) rotate(0deg);
}


.blog .articles .article .blogtitle {
	padding: 10px;
}

#date {
	color: var(--black-color)
}

/*end blog*/

/*start contact*/

.contact {
	background: var(--white-color);
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact h2 {
	font-family: var(--main-font);
	color: var(--primary-color);
}

.contact ul, .contact form {
	margin-top: 30px;
}

.contact ul li a {
	font-size: 18px;
	color: var(--black-color);
	transition: 0.5s;
}

.contact ul li a:hover {
	text-decoration: none;
	transform: scale(1.3);
	color: var(--primary-color);
}

.contact .send {
	background-color: var(--primary-color);
	letter-spacing: 1px;
	font-size: 16px;
	color: var(--white-color);
	transition: 0.5s;
	border: 2px solid var(--primary-color);
}

.contact .send:hover {
	color: var(--primary-color);
	background-color: var(--white-color);
}

.form-control {
	border: 1px solid var(--primary-color);
}

.form-control:hover, .form-control:focus {
	box-shadow: none !important;
	border: 1px solid var(--primary-color);
}

/*end contact*/


/*js stuff*/

.set-border {
	border-bottom: solid 3px var(--primary-color);
	transition: 0.5s
}

.nav-shadow {
	box-shadow: 0px 0px 2px 0px var(--primary-color);
}

.set-bg {
	background: var(--white-color) !important;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.left-it {
	left: -400px !important;
}

.return-it {
	left: 0px !important;
}

.state500 {
	margin-top: 40vh;
}

.state500 h1 {
	color: var(--white-color);
	font-family: var(--main-font);
}